body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffccff, #ccffff);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.triangle-design {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 300px solid #ff69b4; /* Pink color */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    background: linear-gradient(to bottom right, #ff69b4, #87cefa);
}

.product-showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px; /* Add margin to space the image from the left corner */
}

.product-showcase button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px; /* Add margin to space the buttons from the right corner */
}

.product-showcase h1 {
    margin: 20px 0;
}

.product-image-container {
    position: relative;
}

.product-image-container img {
    max-width: 300px;
    max-height: 300px;
    transition: transform 0.3s;
}

.product-image-container:hover img {
    transform: scale(1.1);
}

.product-image-container:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: -1;
}
